#btnClearJob{

    background-color: #0a0a23;
    color:#fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

#btnClearJob:hover{
    background-color:#002ead;
    transition: 0.7s;
}

#btnClearJob:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

input[type=submit] {

    background-color: #0a0a23;
    color:#fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

input[type=submit]:hover {
    background-color:#002ead;
    transition: 0.7s;
}

input[type=submit]:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

#jobkeyword{
    transition: width 0.4s ease-in-out;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#jobkeyword:focus{

}

.addJobButton{
    background-color: #0a0a23;
    color:#fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.addJobButton:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

.addJobButton:hover{
    background-color:#002ead;
    transition: 0.7s;
}
table, th, td{
    text-align: center;
    border: 8px double;
    border-color: #3A445D;
    border-radius: 10px;


}
th, td{
    padding: 8px;
    border: 2px solid;

}

/*table{
    margin-left: auto;
    margin-right: auto;
}*/






tr:nth-child(even){
    background-color: #928779;
}

tr:nth-child(odd){
    background-color: #D4D2A5;
}

h1{
    text-align: center;
    color: #928779
}

h2{
    text-align: center;
    color: #928779
}

body{
    background-color: #FCDEBE;
}