<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Applications</title>
    <link rel="stylesheet" th:href="@{mainstyle.css}">
</head>
<body>
<script>
    function clearSearch(){
        window.location = "[[@{/}]]"
    }

    function totalApps(){
        var table = document.getElementById('appTable');
        var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr').length;
        document.getElementById('appCount').textContent = "You have " + rows + " job application(s).";


    }
    window.onload=function(){
        totalApps();
    }
</script>
<div class="container">
    <h1>Job Application Tracker <br/> <span style="font-size: 22px">A place to keep track of it all</span></h1>

    <!--<h2>Job Search</h2>-->
    <form th:action="@{/mainscreen}">
        <span style="font-size: 22px; font-weight: bold;" >Search By Company Name:</span> <input type="text" name="jobkeyword" id="jobkeyword" size="50" th:value="${jobkeyword}" required />
        <input type="submit" value="Search"/>
        <input type="button" value="Clear" id="btnClearJob" onclick="clearSearch()"/>
        <!--<a th:href="@{/addjob}" class="addJobButton">Add Job</a>-->
        <button onclick="location.href='addjob'" class="addJobButton">Add Job</button>
        <hr>
    </form>
    <br><br>

    <table class="jobTable" id="appTable">
        <thead class="thead-dark">

        <tr>
            <th>App Number</th>
            <th>Company Name</th>
            <th>Experience Level</th>
            <th>Date Applied</th>
            <th>Sentiment? (Optimistic/Pessimistic)</th>
            <th>Cover letter submitted?</th>
            <th>Location</th>
            <th>Remote?</th>
            <th>Action</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="tempJob:${jobAppList}">
            <td th:text="${tempJob.appNum}">1</td>
            <td th:text="${tempJob.companyName}">1</td>
            <td th:text="${tempJob.experienceLevel}">1</td>
            <td th:text="${#dates.format(tempJob.dateApplied, 'yyyy-MM-dd')}">1</td>
            <td th:text="${tempJob.sentiment}">1</td>
            <td th:text="${tempJob.coverLetter}">1</td>
            <td th:text="${tempJob.location}">1</td>
            <td th:text="${tempJob.remote}">1</td>
            <td> <a th:href="@{deletejob(appNum=${tempJob.appNum})}" class="btn btn-primary btn-sm mb-3" onclick="if (!(confirm('Are you use you want to delete this job application?')))return false">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h2 id="appCount">You have 0 job applications.</h2>





</div>

</body>
</html>